 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-left">
                <p>Hi, <br><br>My name is Lily Kaneko, and I grew up in Denver, Colorado. I recently graduated with a Bachelor’s degree in Mechanical Engineering from Georgia Tech. I am looking forward to applying what I have learned from school and past internships to work on exciting new projects!</p>

                    <p><br>In the Portfolio section, I have posted many of my projects from college. However, many of my recent projects are under NDA, so they are only listed on my resume.<br><br>You can reach out to me by email at: <br>lily.r.kaneko@gmail.com<br><br>Thanks for taking a look at my portfolio!</p>
                </div>
            </div>
        </div>
    </section>
